.ProgressBar {
  display: flex;
  flex: 1;
  align-items: center;
}

.ProgressBar input {
  width: 100%;
}

input[type='range'] {
  -webkit-appearance: none !important;
  background: gray;
  height: 7px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
input[type='range']::-webkit-slider-thumb:hover {
  -webkit-appearance: none !important;
  transform: scale(1.2)
}
